.slot {
  height: 100%;
  
  &_items {
    width: 423px;
    display: flex;
    
    background-color: white;
    border: 5px solid $gray;
    border-radius: 10px;
  }
  
  .button {
    position: relative;
    z-index: 1000;
  }
}