.coins {
  h2 {
    position: relative;
    color: green;

    &::after {
      content: '';
      display: inline-block;
      position: relative;
      bottom: -3px;
      width: 25px;
      height: 25px;
      background: transparent url('../../assets/img/coin.jpeg') no-repeat 0 0;
      background-size: cover;
      margin-left: 5px;
    }
  }

  .no-money {
    color: red;
    
    &::after {
      display: block;
      background: transparent url('../../assets/img/no-money.jpeg') no-repeat 0 0;
      width: 96px;
      height: 140px;
      background-size: cover;
    }
  }
}