html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 10px 20px;
}

.disabled {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 100;
  }
}
